@font-face {
	font-family: SilkSerif-Black;
	src: url("../fonts/SilkSerif-Black.ttf");
}
@font-face {
	font-family: SilkSerif-BlackItalic;
	src: url("../fonts/SilkSerif-BlackItalic.ttf");
}
@font-face {
	font-family: SilkSerif-Bold;
	src: url("../fonts/SilkSerif-Bold.ttf");
}
@font-face {
	font-family: SilkSerif-BoldItalic;
	src: url("../fonts/SilkSerif-BoldItalic.ttf");
}
@font-face {
	font-family: SilkSerif-ExtraLight;
	src: url("../fonts/SilkSerif-ExtraLight.ttf");
}
@font-face {
	font-family: SilkSerif-ExtraLightItalic;
	src: url("../fonts/SilkSerif-ExtraLightItalic.ttf");
}
@font-face {
	font-family: SilkSerif-Light;
	src: url("../fonts/SilkSerif-Light.ttf");
}
@font-face {
	font-family: SilkSerif-LightItalic;
	src: url("../fonts/SilkSerif-LightItalic.ttf");
}
@font-face {
	font-family: SilkSerif-Medium;
	src: url("../fonts/SilkSerif-Medium.ttf");
}
@font-face {
	font-family: SilkSerif-MediumItalic;
	src: url("../fonts/SilkSerif-MediumItalic.ttf");
}
@font-face {
	font-family: SilkSerif-Italic;
	src: url("../fonts/SilkSerif-Italic.ttf");
}
@font-face {
	font-family: SilkSerif-Regular;
	src: url("../fonts/SilkSerif-Regular.ttf");
}
@font-face {
	font-family: SilkSerif-RegularItalic;
	src: url("../fonts/SilkSerif-RegularItalic.ttf");
}
@font-face {
	font-family: SilkSerif-SemiBold;
	src: url("../fonts/SilkSerif-SemiBold.ttf");
}
@font-face {
	font-family: SilkSerif-SemiBoldItalic;
	src: url("../fonts/SilkSerif-SemiBoldItalic.ttf");
}
@font-face {
	font-family: Dela;
	src: url("../fonts/DelaGothicOne.ttf");
}


body {
	margin: 0;
	height: 100%;
	font-family: 'Karla', sans-serif;
	overflow: hidden;
	scroll-behavior: smooth;
}


#frame {
	width: 100vw;
	height: 100vh;
	position: fixed;
	-webkit-transition: background-color 0.3s;
	z-index: 80;
	pointer-events: none;
}

#progress-bar {
	height: 10px;
	width: 0%;
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px;
	-webkit-transition: width 0.3s;
	z-index: 100;
}

.page-advance > img {
	width: auto;
	height: 10vh;
	position: fixed;
	margin-top: 45vh;
	opacity: 60%;
	-webkit-transition: opacity 0.3s;
	z-index: 100;
}

.page-advance > img:hover {
	width: auto;
	height: 10vh;
	position: fixed;
	margin-top: 45vh;
	opacity: 100%;
	cursor: pointer;
}

#previous-chevron > img {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	left: 0px;
	z-index: 100;
}

#next-chevron > img{
	right: 0px;
	z-index: 100;
}

#row-title, #page-title {
	margin-top: 20px;
	margin-left: 20px;
	font-weight: 600;
	color: white;
}

.row-advance {
	width: 100vw;
	height: 50px;
	background-color: rgba(255,255,255,0.0);
	color: white;
	text-align: center;
	position: fixed;
	z-index: 100;
}

.row-advance:hover {
	cursor: pointer;
}

#previous-row {
	top: 20px;
	z-index: 100;
}

#next-row {
	bottom: 0px;
	z-index: 100;
}

.row-advance-button {
	border-radius: 5px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 5px 10px;
	-webkit-transition: background-color 0.3s;
	z-index: 100;
}

.row-advance-button:hover {
	background-color: rgba(0,0,0,0.7);
}



.row {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow-x: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.row::-webkit-scrollbar {
	display: none;
}

.page {
	position: absolute;
	float: left;
	width: 100%;
	height: 100vh;
	padding: 5%;
	box-sizing: border-box;
}

.r0 > .page {
	background-color: #FAB1A5;
	top: 0vh;
	color: #202B33;
}

.r0 > .page > a, .r0 > .page > a:visited {
	color: #202B33;
}

.r1 > .page {
	background-color: #DA6668;
	/*color: #182026;*/
	color: white;
}

.r1 > .page > a, .r1 > .page > a:visited {
	color: white;
}

.r2 > .page {
	background-color: #5158A8;
	color: #dfdfdf;
}

.r2 > .page > a, .r2 > .page > a:visited, .r4 > .page > a, .r4 > .page > a:visited {
	color: #dfdfdf;
}

.r3 > .page {
	background-color: #FDC872;
}

.r4 > .page {
	background-color: #2E706C;
	color: #dfdfdf;
}

.r5 > .page {
	background-color: rgb(78, 15, 140);
	color: #dfdfdf;
}
.r6 > .page {
	background-color: rgb(94, 145, 94);
	color: rgb(235, 240, 235);
}

.r6 > .page > a, .r6 > .page > a:visited {
	color: rgb(235, 240, 235);	
}

.cover {
	left: 0vw;
}

.p1 {
	left: 100vw;
}

.p2 {
	left: 200vw;
}

.p3 {
	left: 300vw;
}

.p4 {
	left: 400vw;
}
.p5 {
	left: 500vw;
}
.p6 {
	left: 600vw;
}
.p7 {
	left: 700vw;
}

.large-title {
	font-family: 'Dela';
	font-size: 4.5em;
	text-align: center;
	line-height: 1em;
	margin-top: 5%;
}

.title-a {
	font-family: "Karla";
	font-size: 0.3em;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 800;
}
.title-def {
	line-height: 0.3em;
}
.title-design-guide {
	line-height: 1.8em;
}
.title-description {
	margin-top: 10px;
	font-size: 0.3em;
	font-family: "Karla";
	text-transform: italic;
	font-weight: 800;
}

.r0-p0-description {
	font-size: 1.3em;
	width: 50%;
	margin-left: 25%;
	margin-top: 8vh;
}
#credit {
	position: absolute;
	top: 5vh;
	left: 5vh;
	text-align: left;
	font-size: 0.8em;
}

#credit, #credit>a {
	color: #cc897e;
	background-image: none;
}

#credit > a:hover {
	background-image: none;
}

.cover {
	vertical-align: center;
	text-align: center;
}

.cover > .description {
	font-size: 1.1em;
	width: 50%;
	margin-left: 25%;
	margin-top: 8vh;
}

.description {
	font-size: 1.1em;
	width: 60%;
	margin-left: 20%;
	margin-top: 8vh;	
}

g>rect {
	stroke: none;
}

g.active>rect {
	fill: #202B33;
	fill-opacity: 100%;
	animation: blinkingShadow 1s infinite;
}

@keyframes blinkingShadow {
  0% {
    -webkit-filter: drop-shadow( 0px 0px 0px #54A6FF);
  }
  30% {
  	-webkit-filter: drop-shadow( 0px 0px 15px #54A6FF);
  }
  100% {
  	-webkit-filter: drop-shadow( 0px 0px 0px #54A6FF);
  }
}

.page > img {
	width: 100%;
}

a, .text-emphasis {
	cursor: pointer;
	text-decoration: none;
	background-image: linear-gradient(to top, rgba(255,210,184,0.6) 15%, rgba(0,0,0,0) 20%);
	-webkit-transition: background-image 500ms ease-out 1s;
	-webkit-transition: color 200ms ease-in-out;
}
a:visited {
	color: inherit;
}

a:hover, .text-emphasis:hover {
	color: black !important;
	background: linear-gradient(90deg, rgba(255,255,99,1) 0%, rgba(255,210,184,1) 60%, rgba(255,186,71,1) 100%);
}

.textpage {
	width: 60%;
	height: auto;
	margin-left: 20%;
}