@font-face {
	font-family: SilkSerif-Black;
	src: url("../fonts/SilkSerif-Black.ttf");
}
@font-face {
	font-family: SilkSerif-BlackItalic;
	src: url("../fonts/SilkSerif-BlackItalic.ttf");
}
@font-face {
	font-family: SilkSerif-Bold;
	src: url("../fonts/SilkSerif-Bold.ttf");
}
@font-face {
	font-family: SilkSerif-BoldItalic;
	src: url("../fonts/SilkSerif-BoldItalic.ttf");
}
@font-face {
	font-family: SilkSerif-ExtraLight;
	src: url("../fonts/SilkSerif-ExtraLight.ttf");
}
@font-face {
	font-family: SilkSerif-ExtraLightItalic;
	src: url("../fonts/SilkSerif-ExtraLightItalic.ttf");
}
@font-face {
	font-family: SilkSerif-Light;
	src: url("../fonts/SilkSerif-Light.ttf");
}
@font-face {
	font-family: SilkSerif-LightItalic;
	src: url("../fonts/SilkSerif-LightItalic.ttf");
}
@font-face {
	font-family: SilkSerif-Medium;
	src: url("../fonts/SilkSerif-Medium.ttf");
}
@font-face {
	font-family: SilkSerif-MediumItalic;
	src: url("../fonts/SilkSerif-MediumItalic.ttf");
}
@font-face {
	font-family: SilkSerif-Italic;
	src: url("../fonts/SilkSerif-Italic.ttf");
}
@font-face {
	font-family: SilkSerif-Regular;
	src: url("../fonts/SilkSerif-Regular.ttf");
}
@font-face {
	font-family: SilkSerif-RegularItalic;
	src: url("../fonts/SilkSerif-RegularItalic.ttf");
}
@font-face {
	font-family: SilkSerif-SemiBold;
	src: url("../fonts/SilkSerif-SemiBold.ttf");
}
@font-face {
	font-family: SilkSerif-SemiBoldItalic;
	src: url("../fonts/SilkSerif-SemiBoldItalic.ttf");
}


body {
	margin: 0;
	height: 100%;
	font-family: 'Karla', sans-serif;
	/*overflow: hidden;*/
	scroll-behavior: smooth;
}


#frame {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 100;
	-webkit-transition: background-color 0.3s;
}

#progress-bar {
	height: 10px;
	width: 0%;
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px;
	-webkit-transition: width 0.3s;
}

.page-advance > img {
	width: auto;
	height: 10vh;
	position: fixed;
	margin-top: 45vh;
	opacity: 60%;
	-webkit-transition: opacity 0.3s;
}

.page-advance > img:hover {
	width: auto;
	height: 10vh;
	position: fixed;
	margin-top: 45vh;
	opacity: 100%;
	cursor: pointer;
}

#previous-chevron > img {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	left: 0px;
}

#next-chevron > img{
	right: 0px;
}

#row-title, #page-title {
	margin-top: 20px;
	margin-left: 20px;
	font-weight: 600;
	color: white;
}

.row-advance {
	width: 100vw;
	height: 50px;
	background-color: rgba(255,255,255,0.0);
	color: white;
	text-align: center;
	position: fixed;
}

.row-advance:hover {
	cursor: pointer;
}

#previous-row {
	top: 20px;
}

#next-row {
	bottom: 0px;
}

.row-advance-button {
	border-radius: 5px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 5px 10px;
	-webkit-transition: background-color 0.3s;
}

.row-advance-button:hover {
	background-color: rgba(0,0,0,0.7);
}



.row {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow-x: scroll;
}

.page {
	position: absolute;
	float: left;
	width: 100vw;
	height: 100vh;
}

.r0 > .page {
	background-color: #FAB1A5;
	top: 0vh;
}

.r1 > .page {
	background-color: #DA6668;
}

.r2 > .page {
	background-color: #5158A8;
}

.r3 > .page {
	background-color: #FDC872;
}

.r4 > .page {
	background-color: #2E706C;
}

.cover {
	left: 0vw;
}

.p1 {
	left: 100vw;
}

.p2 {
	left: 200vw;
}

.p3 {
	left: 300vw;
}

.p4 {
	left: 400vw;
}


/*.cover {
	vertical-align: center;
	text-align: center;
}

.cover > .title {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
}

.cover > .description {

}

*/